@font-face {
    src: url("/fonts/Lato-Light.ttf");
}

@font-face {
    src: url("/fonts/Lato-Regular.ttf");
}

@font-face {
    src: url("/fonts/Roboto-Medium.ttf");
}

@font-face {
    src: url("/fonts/DoppioOne-Regular.ttf");
}

.root {
    -fx-background-color: linear-gradient(from 25% 25% to 70% 70% , #918fdb, #D6A3DC);
}

#command-text-field {
    -fx-font-family: "Lato-Light";
    -fx-text-fill: #636363;
    -fx-font-size: 18px;
    -fx-background-radius: 20px;
}

#result-display-text-area {
    -fx-font-family: "Lato-Light";
    -fx-font-size: 18px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 2);
    -fx-wrap-text: true;
}

#result-display-text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

#result-display-text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.info-box {
    -fx-background-color: #B3AADC;
    -fx-opacity: 60%;
    -fx-background-radius: 20;
}

.main-info {
    -fx-font-family: "Lato Regular";
    -fx-font-size: 14px;
}

#time {
    -fx-font-family: "Doppio One Regular";
    -fx-font-size: 35px;
}

#title {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-text-alignment: right;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0em 0.583em 0.8em 0em;
}

.list-cell:selected .created-on{
    -fx-text-fill: #000000;
}

.scroll-bar {
    -fx-background-color: #E7E7E7;
    -fx-background-radius: 10px;
}

.scroll-bar .thumb {
    -fx-background-color: #561179;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 4 1 4;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.card-box {
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 2, 2);
}

.card .cell_big_label {
    -fx-font-family: "Lato Regular";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.card #price {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 24px;
    -fx-text-fill: #6F47C2;
}

#tags {
    -fx-hgap: 5;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #AF8FF1;
    -fx-padding: 2 4 2 4;
    -fx-background-radius: 30px;
    -fx-font-size: 9;
}
